<link rel="stylesheet" href="../stylesheets/fruitmachine.css">
<link rel="stylesheet" href="../stylesheets/fruitmachine.css">

<div id="container">
    <div class="container p-3 my-3 border">


        <div class="table">
            <h1>Fruit Machine</h1>

            <div id="MoneyInTheMachine">Winning Amount</div>
            <ul id="fruit-machine">
                <li class="black"></li>
                <li class="white"></li>
                <li class="green"></li>
                <li class="yellow"></li>
            </ul>
            <div id="TotalWon">
                Total Won: <span id="totalWinningAmount"></span>
            </div>
            <div id="Lever">
                <a href="#" id="fruitMachinePull">Button</a>
            </div>
        </div>
    </div>
</div>
<script src="../js/fruitmachine.js"></script>