<link rel="stylesheet" href="../stylesheets/fruitmachine.css">



<div id="container">

    <div class="container p-3 my-3 border">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/games">Games</a></li>
                <li class="breadcrumb-item active" aria-current="page">FruitMachine</li>
            </ol>
        </nav>
        <p>This is a virtual fruit machine which spins colors (black, white, green, yellow) instead of symbols.
            If the colours in each slot are the same then you win all of the money that is currently in the machine.
            You have a fixed amount of money to play the machine.
            If each slot has a different colour then you will earn half the current money in the machine.
        </p>


        <div class="table">
            <h1>Fruit Machine</h1>

            <div id="MoneyInTheMachine">Winning Amount</div>
            <ul id="fruit-machine">
                <li class="black"></li>
                <li class="white"></li>
                <li class="green"></li>
                <li class="yellow"></li>
            </ul>
            <div id="TotalWon">
                Total Won: <span id="totalWinningAmount"></span>
            </div>
            <div id="Lever">
                <a href="#" class="btn btn-primary btn-lg" id="fruitMachinePull">Button</a>
            </div>
        </div>
    </div>
</div>
<script src="../js/fruitmachine.js"></script>