<div id="container">

    <div class="container p-3 my-3 border">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><a href="/games">Games</a></li>
            </ol>
        </nav>


        <div class="table">


            <div class="list-group">
                <a href="/treasuresplit" class="list-group-item list-group-item-action">TreasureSplit</a>
                <a href="/fruitmachine" class="list-group-item list-group-item-action">FruitMachine</a>
                <a href="/scrabble" class="list-group-item list-group-item-action">Scrabble</a>
            </div>
        </div>
    </div>
</div>