<div class="container p-3 my-3 border">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/games">Games</a></li>
            <li class="breadcrumb-item active" aria-current="page">TreasureSplit</li>
        </ol>
    </nav>


    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <p>Enter integers separated by commas. These integers will represent the value of each coin that needs to be split
        into n number of individuals. If it is possible to split the coins, the possible share options will show up</p>

    <form action="#">
        <div class="form-group">
            <label for="values">Values:</label>
            <input type="values" class="form-control" placeholder="Enter values" id="values">
        </div>
        <button id="triggerTreasureHunt" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="treasureResults"></div>
</div>


<script type="text/javascript">
    $('body').on('click', '#triggerTreasureHunt', function () {
        //Assign Random tiles to player
        $(".treasureResults").html();

        let valuePassed = $('#values').val();
        var reg = /[0-9,]+$/;

        if (reg.test(valuePassed)) {
            $.ajax({
                url: "/treasuresplit/" + valuePassed, success: function (result) {
                    $(".treasureResults").html(result);
                }
            });
        } else {
            $(".treasureResults").html("<h4>Invalid entry.  Only numerics and commas are allowed</h4>");
        }
    });
</script>